* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    text-align:center;
    background: #add8e6;
    margin-bottom:75px;
    font-family: 'Archivo', sans-serif;
}

header {
    background: url(https://cdn3.iconfinder.com/data/icons/famous-city-skyline/48/Sed-13-512.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size:200px;
    background-repeat:no-repeat;
    height:170px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.quizForm {
    min-width: 300px;
    max-width: 75%;
    border-radius:5px;
    margin-right:auto;
    margin-left:auto;
}

footer {
    width:100%;
    margin-right:auto;
    margin-left:auto;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    padding-bottom:10px;
    background:#B80000;
}

h3, legend {
    font-size: 16px;
    font-weight: normal;
}

fieldset {
    min-width: 200px;
    max-width:75%;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid black;
    border-radius:5px;
    background:#add8e6;
}

ul {
    list-style-type:none;
    display:flex;
    flex-direction:column;
}

li {
    width: 100%;
    background-color:white;
    margin-top:10px;
    border-radius: 10px;
    font-size:16px;
    text-align:center;
    border: 1px solid white;
}

li.footer {
    min-width:200px;
    max-width:60%;
    margin-right:auto;
    margin-left:auto;
    color:black;
}

.pride {
    font-weight:bolder;
}

.p {
    color:red;
}

.r {
    color:orange;
}

.i {
    color:green;
}

.d {
    color:blue;
}

.e {
    color:purple;
}

button {
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-top:10px;
    font-size:14px;
    background-color:#B80000;
    color:white;
    border-radius:10px;
    display:block;
}

input {
    clip-path:polygon(0 0);
} 

label {
    cursor:pointer;
}

input:checked + label {
    font-weight:bold;
    color:#B80000;
}

li:focus-within {
    border:1px solid lightsteelblue;
}

h2 {
    margin-top:20px;
    margin-bottom:20px;
    font-size:18px;
    color:#B80000;
}

.success-image {
    height:250px;
    border-radius: 10px;
    margin-top: 10px;
}

.error-text {
    display:block;
    color:#B80000;
    font-weight:bold;
}

@media only screen and (min-width:1000px) {
    ul {
        flex-direction:row;
    }
    li {
        margin:10px;
        padding:5px;
    }
    li.footer {
        margin-left:10px;
        margin-right:10px;
    }
}